process {
    executor = 'local'  // Use SLURM as the executor
    //queue = 'interactive' // SLURM queue/partition
    cpus = 1
    memory = '12GB'
    time = '8h'
    
   // container = '/gladstone/finkbeiner/steve/work/projects/datastudy/datastudy-cluster.sif'  // Path to your Singularity image
    //containerEngine = 'singularity'  // Set Singularity as the container engine

    
    // Activate the Conda environment before the script runs
  //  beforeScript: """
    //    echo "Activating Conda environment 'datastudy'..."  // Add an echo statement
      //  source /opt/conda/bin/activate datastudy  // Activate the Conda environment
			
//    """
}

//singularity {
  //  enabled = true
    //autoMounts = true  // Automatically mount home and work directories
    //cacheDir = '/path/to/singularity/cache'  // Optional: Specify cache location
//}

env {
    PATH = "$PATH:/usr/local/bin"  // Ensure necessary binaries are available
    //SINGULARITYENV_PATH = "/opt/conda/envs/datastudy/bin:$SINGULARITYENV_PATH"
   // SINGULARITYENV_PYTHONPATH = "/opt/conda/envs/datastudy/lib/python3.9/site-packages:$SINGULARITYENV_PYTHONPATH"
}

