/*
 //* pipeline input parameters
// https://nextflow-io.github.io/patterns/conditional-process/
 //*/
// SELECT MODULES
params.DO_UPDATEPATHS = true
params.DO_REGISTER_EXPERIMENT = false
params.DO_VIEW_NORMALIZATION_IMAGES = false
params.DO_COPY_MASK_TO_TRACKED = false // Enable this to include T0 mask for cropping trackemasks
params.DO_SEGMENTATION = false
params.DO_CELLPOSE_SEGMENTATION = false
params.DO_PUNCTA_SEGMENTATION = false
params.DO_TRACKING = false
params.DO_INTENSITY = false
params.DO_CROP =  false     // Enable object crops from raw images
params.DO_MASK_CROP = true  // Enable maskpath crops if needed (set to true to crop from mask images)
params.DO_MONTAGE = false
params.DO_TRACKING_MONTAGE = false
params.DO_PLATEMONTAGE = false
params.DO_CNN = false
params.DO_GET_CSVS = false
params.DO_OVERLAY = false // Enable or disable the OVERLAY step

// SHARED VARIABLES
params.wells_toggle = 'include' // ['include', 'exclude']
params.chosen_wells = 'all'
//params.chosen_wells = 'B06-B09,C06-C09,D06-D09,E06-E09,F06-F09,G06-G09,H06-H09,I06-I09,J06-J09'  // 'A1,A2,A7', or A1-A6' or 'B07,G06' or 'A1' or 'all'
//'D4','F2','G2','B02-E23'
params.timepoints_toggle = 'include' // ['include', 'exclude']
params.chosen_timepoints = 'all'  // 'T0', 'T0-T7', or 'all'

params.channels_toggle = 'include' // ['include', 'exclude']
params.chosen_channels = 'all'  // 'RFP1', 'RFP1,GFP,DAPI', 'all'

params.tile = 0 // Set to 0 for all, for debugging set to an integer. 


params.experiment = '11142024-2-MsN'  // Experiment name
params.morphology_channel = 'GFP-DMD1'  // Your morphology channel
//chosen_channels_for_cnn use this for montage.
params.analysis_version = '1'  // Analysis version. Change if you're rerunning analysis and want to save previous iteration.
params.img_norm_name = 'subtraction' // ['identity', 'subtraction', 'division']



// Variables per module

// REGISTER_EXPERIMENT
params.input_path = '/gladstone/finkbeiner/robodata/Robo3Images/09132024-iDA-A485'  // path to raw images
//params.input_path = '/gladstone/finkbeiner/robodata/Robo4Images/CB-RGEDI-121523'  // path to raw images
//params.output_path = '/gladstone/finkbeiner/barbe/JAKZF-GSGT17-ICC'  // analysis directory
params.output_path = '/gladstone/finkbeiner/linsley/GXYTMPS/GXYTMP-09132024-iDA-A485'  // analysis directory
//params.output_path = '/gladstone/finkbeiner/elia/Christina/Imaging_Experiments/RGEDI/GXYTMP-CB-RGEDI-NEXTFLOWistina/Imaging_Experiments/ICC/GXYTM-121523'  // analysis directory
//params.template_path = '/gladstone/finkbeiner/barbe/JAKZF-GSGT17-ICC/template.xlsx'  // xlsx template
//params.template_path = '/gladstone/finkbeiner/robodata/IXM4Galaxy/Austin/XDP0-ICC-glass/XDP0-ICC-glass-template.xlsx'  // xlsx template
params.robo_file = '.'  // Legacy Template Path for Roboscopes (csv)

//params.ixm_hts_file = '/gladstone/finkbeiner/barbe/JAKZF-GSGT17-ICC/JAKZF-GSGT17-ICC-ZF--09192023.HTS'  // IXM HTS Template
params.ixm_hts_file = '/gladstone/finkbeiner/kaye/KanchanSarda/GXYTMP-JAK-KS-MOR14-GEDI-nextflow/JAK-KS-MOR14-GEDI.HTS'  // IXM HTS Template
params.platemap_path = '/gladstone/finkbeiner/kaye/KanchanSarda/GXYTMP-JAK-KS-MOR14-GEDI-nextflow/JAK-KS-MOR14-GEDI-platemap.csv' // Platemap path (csv)
//params.platemap_path = '/gladstone/finkbeiner/robodata/IXM4Galaxy/Austin/XDP0-ICC-glass/platemap_XDP0-ICC-glass.csv' // Platemap path (csv)
//params.illumination_file = '/gladstone/finkbeiner/barbe/JAKZF-GSGT17-ICC/IXM-illumination-file.ILS'  // Path to IXM Illumination file. On metaxpres -> Control -> Devices -> Configure Illumination -> Backup
params.illumination_file = '/gladstone/finkbeiner/robodata/IXM-Documents/IXM-illumination-file-CB.ILS'  // Path to IXM Illumination file. On metaxpres -> Control -> Devices -> Configure Illumination -> Backup

params.robo_num = '3' // [0,3,4]
params.chosen_channels_for_register_exp = 'all'  // Used by Montage as well
params.overwrite_experiment = '1' // [0,1] 0 to prevent overwriting experiment, 1 allows overwriting.


/////////////////////////////////////////////////////////////////////////////////////////////////
// REGISTER_EXPERIMENT
//params.input_path = '/gladstone/finkbeiner/robodata/ThinkingMicroscope/04042024-4-384-MsN-B-glia'  // path to raw images
//params.output_path = '/gladstone/finkbeiner/linsley/GXYTMPS/Kaushik/GXYTMP-04042024-4-384-MsN-B-glia'  // analysis directory
//params.template_path = '/gladstone/finkbeiner/robodata/ImagingTemplates/04042024-4-384-MsN-B-glia.xlsx' // xlsx template
//params.robo_file = '.'  // Legacy Template Path for Roboscopes (csv)

//params.ixm_hts_file = '/gladstone/finkbeiner/barbe/JAKZF-GSGT17-ICC/JAKZF-GSGT17-ICC-ZF--09192023.HTS'  // IXM HTS Template
//params.ixm_hts_file = '.'  // IXM HTS Template
//params.platemap_path = '.' // Platemap path (csv)
//params.illumination_file = '.'  // Path to IXM Illumination file. On metaxpres -> Control -> Devices -> Configure Illumination -> Backup

//params.robo_num = 0  // [0,3,4]
//params.chosen_channels_for_register_exp = 'GFP-DMD1'  // Used by Montage as well
//params.overwrite_experiment = '1' // [0,1] 0 to prevent overwriting experiment, 1 allows overwriting.
/////////////////////////////////////////////////////////////////////////////////////////////////

// VIEW NORMALIZATION
// Saves images for checking.

// SEGMENTATION
params.segmentation_method = 'sd_from_mean' // ['sd_from_mean', 'triangle', 'minimum', 'yen']
params.lower_area_thresh = 100 // 100, 30000, 5 for Kancchan data
params.upper_area_thresh = 30000 // 36000
params.sd_scale_factor = 3 // 2.5

// CELLPOSE SEGMENTATION
params.model_type = 'cyto2' // ['cyto', 'nuclei', 'cyto2']
params.batch_size_cellpose = 16
params.cell_diameter = 30  // default is 30 pixels// cell_diameter =5 for puncta
params.flow_threshold = 0.4 //default is 0.4// flow = 2 for puncta
params.cell_probability = -1.0 //original is -2.0

// PUNCTA SEGMENTATION
// Puncta segmentation uses difference of gaussians where one strong gaussian blur subtracts a lesser gaussian blur, emphasizing the intensity peaks.
params.puncta_target_channel = ['Epi-GFP16']  // List of channels. Run in parallel.
params.puncta_segmentation_method = 'triangle' // ['triangle', 'minimum', 'yen', 'manual']
params.sigma1 = 2.5  // lesser gaussian blur- IXM 2
params.sigma2 = 4 // greater gaussian blur-IXM 3.2
params.puncta_manual_thresh = 2000  // set manual threshold if puncta_segmentation_method is set to manual

// TRACKING
params.distance_threshold = 150 // distance that a cell must be new
params.voronoi_bool = true // distance that a cell must be new

// INTENSITY
params.target_channel = ['RFP']  // List of channels. Run in parallel.

// CROP
params.crop_size = 300
params.target_channel_crop = ['GFP-DMD1']  // List of channels. Run in parallel.

// MONTAGE and PLATEMONTAGE
params.tiletype = 'filename'  // ['filename', 'maskpath', 'trackedmaskpath']
params.montage_pattern = 'legacy'  // ['standard', 'legacy']//Use standard for IXM// Use legacy for Robo4
params.well_size_for_platemontage = 300  // side length for well
params.norm_intensity = 50000 // normalization intensity for well  (img / norm_intensity)  * 255
params.image_overlap = 10

// CNN
params.cnn_model_type = 'cnn_with_dropout' // 'cnn', 'cnn_with_bn', 'cnn_with_dropout', 'resnet'
params.label_type = 'celltype'  // 'celltype', 'name', 'stimulate'
params.label_name = null // Match the kind of dosage added. Treatment, Antibody, Inhibitor, etc. If none, set as null.
params.classes = null // Comma separated list of classes. If all classes in experiment, set as null.
params.img_norn_name_cnn = 'identity' // identity, subtraction, division
params.filters = ['name', 'cry2mscarlet'] // columnname,value, ['name', 'cry2mscarlet'] used to filter down datasets
params.chosen_channels_for_cnn = 'FITC-DFTrCy5'  // blank for all. Select which channels will be included in input
params.num_channels = 2  // number of channels to include in input model_type
params.n_samples = 0  // 0 for all. Otherwise set a number
params.epochs = 100  // number of epochs. Number of times the model will the see the entire dataset.
params.batch_size = 64  // Number of images the model sees simulataneously. 16, 32, 64 are good numbers. 128 is good too, gpu size permitting.
params.learning_rate = 1e-6
params.momentum = 0.9  // Only for Stochastic Gradient Descent (SGD)
params.optimizer = 'adam' // 'adam', 'sgd'

//OVERLAY 
params.shift = 10        // Text position shift for overlays
params.contrast = 8    // Image contrast adjustment
params.tile = 0          // Tile ID; 0 for all tiles

