/*
 * pipeline input parameters
 https://nextflow-io.github.io/patterns/conditional-process/
 */
// SELECT MODULES
params.DO_UPDATEPATHS = false
params.DO_REGISTER_EXPERIMENT = false
params.DO_SEGMENTATION = false
params.DO_CELLPOSE_SEGMENTATION = false
params.DO_PUNCTA_SEGMENTATION = false
params.DO_TRACKING = false
params.DO_INTENSITY = false
params.DO_CROP = false
params.DO_MONTAGE = false
params.DO_PLATEMONTAGE = false
params.DO_CNN = false
params.DO_GET_CSVS = false

// SHARED VARIABLES
params.wells_toggle = 'include' // ['include', 'exclude']
params.chosen_wells = 'A1'  // 'A1,A2,A7', or 'A1-A6' or 'B07,G06' or 'A1' or 'all'

params.timepoints_toggle = 'include' // ['include', 'exclude']
params.chosen_timepoints = 'all'  // 'T0', 'T0-T7', or 'all'

params.channels_toggle = 'include' // ['include', 'exclude']
params.chosen_channels = 'all'  // 'RFP1', 'RFP1,GFP,DAPI', 'all'

params.tile = 0 // Set to 0 for all, for debugging set to an integer. 

params.experiment = '20230928-MsNeu-RGEDItau1'  // Experiment name 
params.morphology_channel = 'Confocal-GFP16'  // Your morphology channel
params.analysis_version = 1  // Analysis version. Change if you're rerunning analysis and want to save previous iteration.
params.img_norm_name = 'subtraction' // ['identity', 'subtraction', 'division']



// Variables per module

// REGISTER_EXPERIMENT
params.input_path = '/gladstone/finkbeiner/robodata/IXM4Galaxy/ChristinaB/CB-ICC-110223'  // path to raw images
params.output_path = '/gladstone/finkbeiner/elia/Christina/Imaging_Experiments/ICC/GXYTMP-NEW-CB-ICC110223'  // analysis directory
params.template_path = '.'  // xlsx template
params.robo_file = '.'  // Legacy Template Path for Roboscopes (csv)
params.ixm_hts_file = '/gladstone/finkbeiner/robodata/ImagingTemplates/CB-ICC-110223.HTS'  // IXM HTS Template
params.platemap_path = '/gladstone/finkbeiner/robodata/ImagingTemplates/CB-Platemap-ICC-110223.csv' // Platemap path (csv)
params.illumination_file = '/gladstone/finkbeiner/robodata/IXM Documents/illumination-setting-2023-06-16.ILS'  // Path to IXM Illumination file. On metaxpres -> Control -> Devices -> Configure Illumination -> Backup
params.robo_num = 0  // [0,3,4]
params.chosen_channels_for_register_exp = 'all'  // Used by Montage as well
params.overwrite_experiment = 0 // [0,1] 0 to prevent overwriting experiment, 1 allows overwriting.

// SEGMENTATION
params.segmentation_method = 'sd_from_mean' // ['sd_from_mean', 'triangle', 'minimum', 'yen']
params.lower_area_thresh = 50
params.upper_area_thresh = 36000
params.sd_scale_factor = 3.5

// CELLPOSE SEGMENTATION
params.model_type = 'cyto2' // ['cyto', 'nuclei', 'cyto2']
params.batch_size_cellpose = 16
params.cell_diameter = 50  // default is 30 pixels
params.flow_threshold = 0.4
params.cell_probability = 0.0

// PUNCTA SEGMENTATION
// Puncta segmentation uses difference of gaussians where one strong gaussian blur subtracts a lesser gaussian blur, emphasizing the intensity peaks.
params.puncta_target_channel = ['RFP1']  // List of channels. Run in parallel.
params.puncta_segmentation_method = 'yen' // ['triangle', 'minimum', 'yen', 'manual']
params.sigma1 = 2  // lesser gaussian blur
params.sigma2 = 4 // greater gaussian blur
params.puncta_manual_thresh = 2000  // set manual threshold if puncta_segmentation_method is set to manual

// TRACKING
params.distance_threshold = 300 // distance that a cell must be new
params.voronoi_bool = true // distance that a cell must be new

// INTENSITY
params.target_channel = ['Epi-RFP16']  // List of channels. Run in parallel.

// CROP
params.crop_size = 300
params.target_channel_crop = ['Confocal-GFP16', 'Epi-RFP16']  // List of channels. Run in parallel.

// MONTAGE and PLATEMONTAGE
params.tiletype = 'filename'  // ['filename', 'maskpath', 'trackedmaskpath']
params.montage_pattern = 'standard'  // ['standard', 'legacy']
params.well_size_for_platemontage = 300  // side length for well
params.norm_intensity = 2000 // normalization intensity for well  (img / norm_intensity)  * 255

// CNN
params.cnn_model_type = 'cnn_with_dropout' // 'cnn', 'cnn_with_bn', 'cnn_with_dropout', 'resnet'
params.label_type = 'stimulate'  // 'celltype', 'name', 'stimulate'
params.label_name = null // Match the kind of dosage added. Treatment, Antibody, Inhibitor, etc. If none, set as null.
params.classes = null // Comma separated list of classes. If all classes in experiment, set as null.
params.img_norn_name_cnn = 'identity' // identity, subtraction, division
params.filters = ['name', 'cry2mscarlet'] // columnname,value used to filter down datasets
params.chosen_channels_for_cnn = 'RFP1,RFP2'  // blank for all. Select which channels will be included in input
params.num_channels = 2  // number of channels to include in input model_type
params.n_samples = 200  // 0 for all. Otherwise set a number
params.epochs = 1  // number of epochs. Number of times the model will the see the entire dataset.
params.batch_size = 32  // Number of images the model sees simulataneously. 16, 32, 64 are good numbers. 128 is good too, gpu size permitting.
params.learning_rate = 1e-6
params.momentum = 0.9  // Only for Stochastic Gradient Descent (SGD)
params.optimizer = 'adam' // 'adam', 'sgd'

