process {
    executor = 'local'       // Use SLURM cluster scheduler
    queue = 'interactive'    // your GPU queue or partition
    cpus = 1                 // number of CPUs per task
    memory = '10GB'
    time = '2h'

    container = '/gladstone/finkbeiner/steve/work/projects/datastudy/datastudy-cluster.sif'  
    containerEngine = 'singularity'

    // Optionally set cluster options globally for GPU requests
    clusterOptions = '--gres=gpu:v100:1 -p interactive'

}

